[Desktop Entry]
Type=Application
Name=XTrader Signal Bridge
Comment=Bridge Telegram to CSV for XTrader
Exec=XTrader-Signal-Bridge
Icon=app-icon
Categories=Utility;Network;
Terminal=false
